<!-- Comment Modal -->
<div class="modal hidden fixed inset-0 z-50 overflow-auto bg-black/30 flex items-center justify-center p-2 md:p-4 min-h-screen min-w-screen" id="comment-modal-<%= devlog.id %>" data-controller="modal comment-modal">
  <div class="bg-[#F3ECD8] rounded-2xl border-4 border-[#E4DCC6] w-full max-w-2xl mx-2 md:mx-auto relative" data-modal-target="container">
    <div class="p-3 md:p-4 border-b border-saddle-taupe border-opacity-30">
      <div class="flex justify-between items-center">
        <h3 class="text-lg md:text-2xl">Add a Comment</h3>
        <button type="button" class="text-gray-600 hover:text-vintage-red cursor-pointer transition-colors duration-200" data-action="click->modal#close">
          <%= inline_svg "icons/close.svg", class: "h-6 w-6 " %>
        </button>
      </div>
    </div>

    <div class="p-3 md:p-4">
      <% if user_signed_in? %>
        <% if !current_user.has_commented %>
          <div class="text-center mb-4" data-comment-modal-target="warning">
            <%= image_tag "journeypheus.png", class: "w-32 h-32 2xl:w-64 2xl:h-64 mx-auto mb-4", alt: "Journeypheus" %>
            <h4 class="text-xl md:text-2xl 2xl:text-3xl mb-2">HOLD UP</h4>
            <p class="text-base md:text-lg mb-4 text-gray-600">Be nice in the comments! <a href="https://hackclub.com/conduct/" class="text-nice-blue underline">Hack Club's Code of Conduct</a> still applies here, so don't be naughty, or Journeypheus might just come and kidnap you. <br> (& don't give Kartikey an excuse to ban :P)</p>
            <button data-action="click->comment-modal#next" class="px-2 md:px-4 py-2 bg-vintage-red hover:scale-[1.05] text-white transition-transform duration-300 text-sm md:text-base 2xl:text-large btn-pixel">
              Next
            </button>
          </div>
        <% end %>

        <div class="<%= 'hidden' unless current_user.has_commented %>" data-comment-modal-target="commentForm">
          <%= form_with model: [devlog, Comment.new],
              id: "comment-form-#{devlog.id}",
              class: "space-y-3" do |f| %>
            <div class="space-y-2">
              <%= f.text_area :content,
                class: %{
                  w-full p-2 border-2 border-som-bright focus:outline-none focus:border-som-dark text-base
                  md:text-lg 2xl:text-xl rounded-md transition-colors
                }.squish,
                rows: 4, required: true %>
              <p class="text-xs md:text-sm text-vintage-red hidden" id="textError-#{devlog.id}" data-comment-modal-target="textError"></p>
            </div>

            <div class="flex flex-row justify-end space-x-4">
              <button type="button" class="px-2 md:px-4 py-2 bg-vintage-red hover:scale-[1.05] text-white transition-transform duration-300 text-sm md:text-base 2xl:text-large btn-pixel" data-action="click->modal#close">
                Cancel
              </button>
              <%= f.submit "Post Comment", class: "px-2 md:px-4 py-2 bg-forest hover:scale-[1.05] text-white transition-transform duration-300 text-sm md:text-base 2xl:text-large btn-pixel" %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="text-center">
          <p class="text-base md:text-lg mb-4 text-gray-600">Please sign in to add a comment.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
